<div>
  <h1>Kniffel Game Area</h1>

  <section class="dice-wrapper">
    <div *ngFor="let diceResult of diceResults; let i = index;" (click)="registerForReRoll(i)">
      <h4>Dice {{i + 1}}</h4>
      <span>{{diceResult}}</span>
    </div>
  </section>

  <button id="roll-dices-btn" (click)="rollDices()" [disabled]="turnEnded">Roll dices</button>

  <section>
    <h4>Selected dices to reroll</h4>
    <p *ngFor="let dice of dicesToReRoll">Dice {{dice + 1}}</p>
  </section>
  <hr>

  <section>
    <p class="category" *ngFor="let category of categoryFields" (click)="selectCategory(category.value)">
      {{category.title}}
    </p>
  </section>
  <hr>
  <section>
    <h4>RESULTSHEET</h4>
    <p>ACES {{resultSheet.ACES}}</p>
    <p>TWOS {{resultSheet.TWOS}}</p>
    <p>THREES {{resultSheet.THREES}}</p>
    <p>FOURS {{resultSheet.FOURS}}</p>
    <p>FIVES {{resultSheet.FIVES}}</p>
    <p>SIXES {{resultSheet.SIXES}}</p>
    <p>THREE_OF_A_KIND {{resultSheet.THREE_OF_A_KIND}}</p>
    <p>FOUR_OF_A_KIND {{resultSheet.FOUR_OF_A_KIND}}</p>
    <p>FULL_HOUSE {{resultSheet.FULL_HOUSE}}</p>
    <p>SMALL_STRAIGHT {{resultSheet.SMALL_STRAIGHT}}</p>
    <p>LARGE_STRAIGHT {{resultSheet.LARGE_STRAIGHT}}</p>
    <p>YAHTZEE {{resultSheet.YAHTZEE}}</p>
    <p>CHANCE {{resultSheet.CHANCE}}</p>
  </section>
</div>
