.dice-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
}


.dice-wrapper div {
  cursor: pointer;
}

.dice-wrapper div:hover {
  color: green;
}

#roll-dices-btn {
  border: none;
  border-radius: 5px;
  background-color: #009688;
  color: white;
  padding: 12px;
}

#roll-dices-btn[disabled] {
  background-color: grey;
}

.category {
  cursor: pointer;
}

.category:hover {
  color: green;
}
